<h2 id="title">Welcome to app scheduler dummy app</h2>
{{#link-to "index"}}Home{{/link-to}}
{{#link-to "demo"}}Demo{{/link-to}}
{{#link-to "first-paint"}}First Paint{{/link-to}}
{{#link-to "content-paint"}}Content Paint{{/link-to}}
{{#link-to "aborted-paint"}}Aborted Paint{{/link-to}}
{{outlet}}
