<div class="both-painted-route">
  <WhenRoutePainted>
    <span class="only-when-route-painted">When Route Painted</span>
  </WhenRoutePainted>
  <WhenRouteIdle>
    <span class="only-when-route-idle">When Route Idle</span>
  </WhenRouteIdle>
</div>