<div class="both-painted-route">
  {{#when-route-painted}}
    <span class="only-when-route-painted">When Route Painted</span>
  {{/when-route-painted}}
  {{#when-route-idle}}
    <span class="only-when-route-idle">When Route Idle</span>
  {{/when-route-idle}}
</div>