<div class="content-paint-route">
  <WhenRouteIdle>
    <span class="only-when-route-idle">When Route Idle</span>
  </WhenRouteIdle>

  <LinkTo @route="both-painted">Go to both painted</LinkTo>
</div>